@charset "utf-8";

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

.nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #282828;
}

img {
    border: 0;
    vertical-align: middle;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'NanumBarunGothic', 'GmarketSansMedium', 'NanumSquareNeo-Variable';
    color: #282828;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;
    word-break: keep-all;

}

/* 공통요소 */
.inner {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 1275px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.section-title {
    position: absolute;
    top: 170px;
    left: 0;
    font-size: 90px;
    font-weight: 700;
    font-family: 'GmarketSansMedium';
    color: #fff;
}

.skill-blue {
    color: #b5cbde;
}

/* 레이아웃 */
.wrap {
    position: relative;
    display: block;
    background: #f5f5f5;
}

/* 상단 */
.header {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 90px;
    z-index: 9999;
    background: #b5cbde86;
    backdrop-filter: blur(20px);
}

.header .inner {
    height: 100%;
}

.logo {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 74px;
    height: 78px;
    background: url(../img/logo2.png) no-repeat center;
    background-size: cover;

}

.logo-bar {
    width: 315px;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-text {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.nav {
    position: absolute;
    right: 0;
    top: 0;
    height: 90px;
}

.gnb {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 530px;
    height: 100%;
}

.gnb li a {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    padding: 37px 2.0833vw;
}

/* 메뉴 반응형 */
@media screen and (max-width:1400px) {
    .logo-bar {
        left: 10px;
    }
}

@media screen and (max-width:1024px) {
    .logo-bar {
        left: 10px;
    }

    .gnb {
        width: 400px;
    }
}

@media screen and (max-width:768px) {
    .logo-text {
        display: none;
    }

}

/* 홈 */
.home {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    background: url(../img/main_backgound.png) no-repeat bottom;

}

.home-wrap {
    width: 66.4063vw;
    min-width: 1000px;
    height: 747px;
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 130px;
    display: flex;
    justify-content: space-evenly;
}

/* 프로필이미지 */
.home-left {
    width: 30.7292vw;
    min-width: 400px;
    height: 100%;
}

.home-img {
    width: 28.6458vw;
    min-width: 400px;
    height: 707px;
    background: url(../img/profile_web.png) no-repeat center;
    background-size: cover;
    position: absolute;
    top: 20px;
    left: 20px;
}

.home-img-line-top,
.home-img-line-bottom {
    position: absolute;
    width: 28.6458vw;
    min-width: 400px;
    height: 707px;
}

.home-img-line-top {
    left: -20px;
    top: -20px;
    border: 2px solid #b5cbde;
}

.home-img-line-bottom {
    right: -20px;
    bottom: -20px;
    border: 2px solid #dae5ee;
}

/* 소개인사 */
.home-right {
    width: 35.6771vw;
    min-width: 495px;
    position: relative;
    padding: 30px 0 0 2.6042vw;

}

.home-text {
    width: 100%;
}

.home-text-introduce {
    font-size: 52px;
    font-weight: 700;
    line-height: 85px;
    margin: 25px 0 25px 0;
    letter-spacing: -3px;
}

.txt-hello {
    font-size: 58px;
}

.txt-color {
    color: #b5cbde;
}

.my-name {
    text-decoration: underline #b5cbde 10px;
    text-underline-offset: -1px;
}

.home-text-introduce-content,
.home-text-introduce-promise {
    width: 90%;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.underline {
    text-decoration: underline #b5cbde 4px;
    text-underline-offset: -0.5px;
}

.resume {
    width: 120px;
    height: 40px;
    border: 2px solid #a0b8cd;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a0b8cd;
    cursor: pointer;
}

.resume:hover {
    background: rgba(255, 255, 255, 0.7);

    transition: all ease-in 0.2s;
}

/* 홈 반응형 */
@media screen and (max-width:1024px) {
    .home {
        position: relative;
        margin-top: 110px;
        width: 100%;
        height: 100%;
        background: url(../img/main_backgound_tab.png) no-repeat bottom;

    }

    .home-wrap {
        position: relative;
        top: 0;
        left: 0;
        display: grid;
        grid-template-rows: 56.3vw 58.5938vw;
        height: 107vw;
        min-height: 1100px;
        width: 100%;
        min-width: 300px;
        background-color: rgb(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);

    }

    .home-left {
        width: 97.6563vw;
        height: 53.7109vw;
        min-height: 440px;
    }

    .home-img {
        top: 0;
        width: 93.7500vw;
        min-width: 650px;
        height: 53.7109vw;
        min-height: 400px;
        background: url(../img/profile_tab.png) no-repeat top;
        background-size: cover;
    }

    .home-img-line-top,
    .home-img-line-bottom {
        width: 93.7500vw;
        min-width: 650px;
        height: 53.7109vw;
        min-height: 400px;
        position: absolute;

    }

    .home-img-line-top {
        left: -10px;
        top: -10px;
    }

    .home-img-line-bottom {
        right: -10px;
        bottom: -10px;
    }

    .home-right {
        width: 100%;
        padding: 0 2.9297vw;
    }

    .home-text-introduce {
        font-size: 50px;
        letter-spacing: 0;
        margin: 5px 0 15px 0;
        line-height: 70px;
    }

    .txt-hello {
        font-size: 55px;
    }

    .home-text-introduce-content,
    .home-text-introduce-promise {
        width: 85%;
    }
}

@media screen and (max-width:768px) {
    .home-left {
        width: 90%;
        height: 71.6146vw;
        min-height: 400px;
    }

    .home-img {
        width: 89.8438vw;
        min-width: 380px;
        height: 71.6146vw;
    }

    .home-img-line-top,
    .home-img-line-bottom {
        width: 89.8438vw;
        min-width: 380px;
        height: 71.6146vw;

    }

    .home-wrap {
        position: relative;
        top: 0;
        left: 0;
        display: grid;
        grid-template-rows: 73vw 600px;
        height: 104.1667vw;
        min-height: 1100px;
        width: 100%;
        min-width: 380px;


    }

    .home-right {
        width: 89.1927vw;
        min-width: 400px;
        height: 500px;
        padding: 0;

    }

    .home-text {
        width: 100%;
        height: 500px;

    }

    .home-text-introduce-content,
    .home-text-introduce-promise {
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
    }

    .home-text-introduce {
        font-size: 55px;
        letter-spacing: -3;
        margin: 15px 0 20px 0;
        line-height: 70px;

    }

    .txt-hello {
        font-size: 55px;
    }

    .home-img-line-top {
        left: -7px;
        top: -7px;
    }

    .home-img-line-bottom {
        right: -7px;
        bottom: -7px;
    }
}

@media screen and (max-width:575px) {

    .home-text-introduce,
    .txt-hello {
        font-size: 45px;
    }

    .home-wrap {
        grid-template-rows: 415px 600px;
    }

    .home-text-introduce {
        line-height: 60px;
    }

    .home-right {
        margin-left: 10px;
    }
}

/* 프로필 */
.profile {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    background: #b5cbde;
}

.profile-left-content {
    width: 19.7917vw;
    min-width: 300px;
    height: 530px;
    border-radius: 30px;
    background: #ffffff70;
    display: grid;
    grid-template-rows: 295px 1fr;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 70px;
}

.activity {
    width: 40.1042vw;
    min-width: 680px;
    height: 530px;
    border-radius: 30px;
    background: #ffffff70;
    display: grid;
    align-content: center;
    margin-bottom: 70px;
}

.profile-top {
    position: relative;

    width: 68.1042vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1.3021vw;
}

.profile-img {
    width: 200px;
    height: 258px;
    margin: 50px auto 0;
    background: url(../img/id-photo.jpg) no-repeat center;
    background-size: cover;
    border: 1px solid #b5cbde;
}

.profile-txt {
    margin-top: 25px;
}

.profile-txt div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.profile-txt div p {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    margin-right: 10px;
}

.profile-txt div span {
    font-size: 18px;
}


.external,
.certificate {
    margin: 20px 0 0 3.6458vw;
}


.activity-title {
    font-size: 25px;
    font-weight: bold;
}

.external-txt,
.certificate-txt {
    font-size: 18px;
    margin-top: 26px;
}

.certificate {
    display: grid;
    grid-template-rows: 30px 1fr;

}

.certificate div:first-child {
    grid-column: 1 / 3;
}

.certificate-txt p {
    margin-bottom: 10px;
    display: flex;
}

.external {
    margin-bottom: 20px;
    width: 34.8958vw;
    min-width: 660px;
}

.certificate {
    width: 38vw;
    min-width: 400px;
}

.external-txt p {
    margin-bottom: 10px;
    display: flex;
}

/* 프로필 반응형 */
@media screen and (max-width : 1770px) {

    .external,
    .certificate {
        margin-left: 2.6042vw;
    }

}

@media screen and (max-width : 1660px) {

    .certificate {
        min-width: 600px;
    }
}

@media screen and (max-width : 1024px) {

    .profile {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .profile-left-content {
        width: 700px;
        height: 32.2266vw;
        min-height: 300px;
        border-radius: 30px;
        background: #ffffff70;
        position: relative;
        top: 130px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }

    .activity {
        width: 700px;
        height: 530px;
        border-radius: 30px;
        background: #ffffff70;
        position: relative;
        top: 130px;
        display: grid;
        align-content: center;
        margin-bottom: 0;
    }

    .profile-top {
        position: relative;
        top: 0;
        height: 1200px;
        /*
        display: flex;
        flex-direction: column;
        align-items: center;
        */
        display: grid;
        grid-template-rows: 100px 330px 530px;
        gap: 15px;
    }

    .section-title {
        position: relative;
        top: 110px;
        font-size: 85px;
        font-weight: 700;
        font-family: 'GmarketSansMedium';
        color: #fff;
    }

    .profile-img {
        margin-top: 0;
        width: 19.5313vw;
        min-width: 180px;
        height: 25.1953vw;
        min-height: 232px;
    }

    .profile-txt {
        margin-top: 0;
        width: 34.1797vw;
        min-width: 180px;

    }

    .profile-txt div {
        display: flex;
        justify-content: start;
        margin-top: 10px;
    }

    .profile-img {
        margin-left: 100px;
    }

    .external,
    .certificate {
        margin: 5px 0 0 4.3vw;
    }

    .external {
        margin-bottom: 35px;
    }

    .certificate {
        display: grid;
    }

}

@media screen and (max-width : 768px) {
    .section-title {
        top: 110px;
    }

    .profile-left-content {
        width: 91.1458vw;
        min-width: 470px;
        height: 280px;
        grid-template-columns: 0.75fr 1fr;
        margin-bottom: 0;
        top: 170px;
    }

    .activity {
        width: 600px;
        height: 580px;
        margin-bottom: 0;
        top: 170px;
    }

    .profile-top {
        position: relative;
        top: 0;
        height: 1300px;
        /*
        display: flex;
        flex-direction: column;
        align-items: center;
        */
        display: grid;
        grid-template-rows: 100px 280px 580px;

    }

    .external,
    .certificate {
        margin: 0 3.9063vw;
    }

    .activity {
        width: 91.1458vw;
        min-width: 470px;
        border-radius: 30px;
        background: #ffffff70;
        display: grid;
        align-content: center;

    }

    .external {
        width: 84.6354vw;
        min-width: 450px;
        margin-bottom: 1.9531vw;
    }

    .certificate {
        width: 84.6354vw;
        min-width: 450px;
        margin-top: 2.6042vw;
        grid-template-rows: none;
    }

    .profile-img {
        margin: 0 auto;
        width: 23.4375vw;
        min-width: 150px;
        height: 30.2083vw;
        min-height: 193px;
    }

    .certificate-txt {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .profile-txt {
        margin-top: 0;
        width: 45.5729vw;
        min-width: 260px;
    }
}




/* 스킬 */
.skill {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    background: #f5f5f5;
}

.skill-container {
    width: 85%;
    height: 60%;
    position: absolute;
    top: 320px;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    text-align: center;
    margin: 0 7.5%;
}

.percent,
svg {
    width: 200px;
    height: 200px;
}

.skill-box {
    width: 200px;
    height: 280px;
}

.percent svg circle {
    stroke-width: 16;
    fill: none;
    transform: translate(10px, 10px);
    stroke-dasharray: 430;
    stroke-dashoffset: 430;
    stroke-linecap: round;
}

.box1 .percent svg circle {
    stroke-dasharray: 930;
    stroke-dashoffset: 430;
}

.box2 .percent svg circle {
    stroke-dasharray: 930;
    stroke-dashoffset: 430;
}

.box3 .percent svg circle {
    stroke-dasharray: 760;
    stroke-dashoffset: 430;
}

.box4 .percent svg circle {
    stroke-dasharray: 930;
    stroke-dashoffset: 430;
}

.box5 .percent svg circle {
    stroke-dasharray: 880;
    stroke-dashoffset: 430;
}

.box6 .percent svg circle {
    stroke-dasharray: 820;
    stroke-dashoffset: 430;
}

.percent svg circle:nth-child(1) {
    stroke-dasharray: 0;
    stroke: #eee;
}

.percent svg circle:nth-child(2) {
    stroke: #b5cbde;
    animation: anim 2s linear forwards;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: anim;
}

.percent {
    position: relative;
}

.number {
    position: absolute;
    top: 90px;
    left: 70px;
    font-size: 22px;

}

.skill-box .text {
    margin-top: 20px;
    font-size: 18px;
}


/* 스킬 반응형 */
@media screen and (max-width : 1700px) {
    .skill-blue {
        position: absolute;
        left: 70px;
    }
}

@media screen and (max-width : 1024px) {
    .skill {
        width: 100%;
    }

    .skill-top {
        width: 100%;
    }

    .skill-blue {
        color: #b5cbde;
        left: 9.7656vw;
    }

    .skill-container {
        position: absolute;
        top: 250px;
    }
}

@media screen and (max-width : 768px) {
    .skill {
        width: 100%;
        height: 100%;

    }
    .skill-top {
        width: 100%;
        height: 1100px;
        position: relative;
        top: 20px;
    }
    .skill-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 750px;
        top: 250px;
    }

    .skill-box {
        width: 200px;
        height: 250px;
    }

    .skill-box .text {
        margin-top: 10px;
    }


}








/* 포트폴리오 */
.portfolio {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: #b5cbde;
    font-family: 'NanumSquareNeo-Variable';
}

.portfolio-top {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 350px 1fr;
    align-items: end;
}

.portfolio-img {
    width: 750px;
    height: 477px;
    border-radius: 30px;
    box-shadow: 0 5px 20px 0px #42414240;
}

.title-box {
    display: flex;
    justify-content: flex-end;
}

.section-subtitle {
    position: relative;
    color: #fff;
    font-size: 35px;
    font-family: 'GmarketSansMedium';
    text-align: end;
    line-height: 45px;
    font-weight: 300;
}

.content-box {
    left: 0;
}

.portfolio-content {
    display: grid;
    grid-template-columns: 830px 1fr;
    align-items: center;
    margin: 20px 0 80px 0;
}

.portfolio-text {
    width: 466px;
    height: 405px;
    display: grid;
    grid-template-rows: 80px 290px;
    align-content: space-between;
}

.portfolio-content-text-top {
    display: flex;
    width: 465px;
    height: 100px;
    align-items: flex-end;
}

.long {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.portfolio-content-text-title {
    font-size: 50px;
    font-weight: 900;
    margin-right: 20px;
}

.portfolio-content-text-subtitle {
    font-size: 22px;
    font-weight: 500;

}


.portfolio-content-text-bottom {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
}


.portfolio-content-text-bottom-section {
    margin-top: 10px;
}

.portfolio-content-text-bottom-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.portfolio-content-text-bottom-content {
    font-size: 18px;
}




/* 멜론 작업물 */
.melon {
    background: url(../img/melon.png) no-repeat center;
    background-size: cover;
}



/* 유니버셜스튜디오 작업물 */
.usk {
    background: url(../img/universalstudio.png) no-repeat center;
    background-size: cover;
}


/* 클론코딩 작업물 */


/* 포폴 작업물 */
.pofol {
    background: url(../img/portfolio.png) no-repeat center;
    background-size: cover;
}




/* 포트폴리오 반응형 */
@media screen and (max-width : 1340px) {
    .portfolio-content {
        grid-template-rows: 500px 380px;
        grid-template-columns: none;
        justify-content: center;

        justify-items: center;
        margin: 60px 0 100px 0;
    }

    .high {
        position: relative;
        top: 35px;
    }

    .portfolio-text {
        text-align: center;
    }



    .portfolio-content-text-title {

        text-align: center;
    }

    .long {
        text-align: center;
    }

    .long .portfolio-content-text-title,
    .long .portfolio-content-text-subtitle {
        margin: 0 auto;
    }

    .port {
        left: 70px;
    }

    .section-subtitle {
        right: 70px;
    }
}

@media screen and (max-width : 1024px) {
    .portfolio {
        width: 100%;
        height: 100%;
    }

    .portfolio-top {
        position: relative;
    }

    .title-box {
        position: relative;
        top: 0;
        justify-content: center;
    }

    .port {
        top: -100px;
        left: 0px;
    }

    .section-subtitle {
        font-size: 28px;
    }

    .portfolio-content {

        margin: 10px 0 100px 0;
    }

    .section-subtitle {
        right: 0;
    }
}

@media screen and (max-width : 768px) {
    .portfolio {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .title-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
.portfolio-top{
    position: relative;
    top: 40px;
}
    .portfolio-img {
        width: 91.1458vw;
        min-width: 450px;
        height: 57.9427vw;
        min-height: 286px;
        border-radius: 30px;
        box-shadow: 0 5px 20px 0px #42414240;
    }
    /* 멜론 작업물 */
    .melon {
        width: 91.1458vw;
        min-width: 450px;
        height: 57.9427vw;
        min-height: 286px;
        background: url(../img/melon.png) no-repeat center;
        background-size: cover;
    }
    /* 유니버셜스튜디오 작업물 */
    .usk {
        width: 91.1458vw;
        min-width: 450px;
        height: 57.9427vw;
        min-height: 286px;
        background: url(../img/universalstudio.png) no-repeat center;
        background-size: cover;
    }
    /* 클론코딩 작업물 */

    /* 포폴 작업물 */
    .pofol {
        width: 91.1458vw;
        min-width: 450px;
        height: 57.9427vw;
        min-height: 286px;
        background: url(../img/portfolio.png) no-repeat center;
        background-size: cover;
    }
    .title-box{
        grid-template-columns: none;
        height: 165px;
    }
    .portfolio-content {
        grid-template-rows:none;
        margin-top: 40px;
        
    }
    .section-subtitle{
        margin-left: 29.9479vw;
        line-height: 40px;
    }

}





/* 하단 */
.footer {
    position: relative;
    display: block;
}